html{
    scroll-behavior: smooth;
}

/* ::-webkit-scrollbar{
    width: 18px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb{
    border-radius: 35px;
    background-color: #ff0101;
}
*/

body{
    background-image: linear-gradient(to right, #FCCFA6,#FDB3A5, #FE97A4, #FE7BA3, #FF5FA2  );
  margin: 0 auto;
  padding: 0 auto;  
}

header{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: #e629223d;
    
}

li{
    display: inline;
    text-decoration: none;
    padding: 50px;
    font-size: 1.1rem;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.rem;
    font-family: 'Roboto', sans-serif;
}

.lista{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    }

    #envelope{
        margin: 10px;
    }

#videos{
    width: 500px;
    margin-top: 70px;

}

img{
    width: 150px;
    height: 210px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px #000000;
}

.insta{
    width:25px;
    height: 25px;
}

#pizza{
    width: 300px;
}


h3{
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}
h1{
    color: rgb(202, 8, 8);
    font-family: 'Angkor', cursive;
    text-shadow: 2px 6px 5px #000000;
}

/*#sozinho{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
*/
 .pinsta > p{
    font-family: 'Dancing Script', cursive;
    font-size: 23px ;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    
}

#tuais-members{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: grid; flex-direction: column;
    grid-template-columns: 200px 200px 200px;
    gap: 30px;
  
    
   
}

.pinsta{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap:14px;
}

#nayeon{
    color: #49c0ec;
}

#jeongyeon{
    color: #a3cc54;
}

#momo{
    color: #e67ea3;
}

#sana{
    color: #8c79b4;
}

#jihyo{
    color: #f9cc85;
}

#mina{
    color: #71c7d4;
}

#dahyun{
    color: #fefefe;
}

#chaeyoung{
    color: #e62722;
}

#tzuyu{
    color: #2253a3;
}

footer{
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;

}